
@{
    ViewBag.Title = "uploadCSV";
}

<h2>Cargar CSV</h2>

@using (Html.BeginForm("uploadCSV", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div align="center"><img src="https://image.flaticon.com/icons/png/512/949/949292.png" alt="Alternate Text" /></div>
    <br>

    <br>
    <input type="file" name="fileForm" class="btn btn-lg" />
    <br>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <input type="submit" value="Cargar Archivos" class="btn btn-success" />
            </div>
        </div>
    </div>
}




