@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2>@ViewBag.Title.</h2>
<h5>Morbi posuere egestas hendrerit. Ut dictum neque eget ultrices lacinia. Nunc vitae felis ut leo elementum bibendum eget id dolor. Integer vitae erat nulla. Sed rhoncus ut ante in congue. Donec varius facilisis magna sit amet placerat. Donec in nisi ornare ex porttitor ultrices. Praesent ipsum sem, fringilla vel dignissim vitae, rhoncus et lorem. Nullam ut purus a libero convallis tempor. Donec finibus, metus eu finibus efficitur, ex nisi feugiat leo, et ullamcorper sapien quam at arcu.</h5>
    <img src="https://scontent.fbog3-1.fna.fbcdn.net/v/t1.6435-9/102429941_392936718264421_9108629845979207966_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeFmzN4t9UVzgzQbnVXRn6xlNGRZR1XJKRA0ZFlHVckpEJSZ4llAoIifrhpsabBWAirI8AI3N0VNnDuYLnFAFDtA&_nc_ohc=0JnwY3L1xN0AX9JuW35&_nc_ht=scontent.fbog3-1.fna&oh=870f897bfc770e6769dc4c87d54595d2&oe=60D6E313" alt="Alternate Text" />
<p>Use this area to provide additional information.</p>
