@model IEnumerable<ASP_2184587.Models.proveedor>

<select class="form-control" id="id_proveedor" name="id_proveedor">
    @foreach(var item in Model)
        {
            <option value="@item.id">
                @item.nombre
            </option>
        }
</select>